body, html {
    font-family: sans-serif;
    color: #555;
    font-size: 18px;
    margin:0; 
    padding:0; 
    height:100%; 
  }
  
  #page-container {
     min-height:100%;
     position:relative;
  }
  
  #page-header {
    margin-bottom: 20px;
    height: 60px;
    background-color: #444;
    -webkit-box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
            box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
  }
  
  #header-title {
    color: #eee;
    font-size: 36px;
    font-weight: 600;
  }
  
  #header-title:hover {
    color: #ccc;
    text-decoration: none;
  }
  
  .header-button {
    float: right;
    margin: 10px;
    margin-left: 5px;
    vertical-align: middle;
  }
  
  #page-content {
    padding-bottom:80px;
  }
  
  #page-footer {
    padding: 20px;
    position:absolute;
    bottom:0;
    height: 60px;
    width: 100%;
    color: #999;
    text-align: center;
    background-color: #eee;
    border-top: 1px solid #eee;
  }
  
  #legal {
    display: inline;
  }
  
  #github-link {
    font-size: 14px;
    float: right;
    vertical-align: middle;
    color: #999;
  }
  
  #github-link:hover {
    color: #777;
  }
  
  #github-link:active {
    color: #888;
  }
  
  .form-heading {
    font-size: 24px;
  }
  
  .row {
    margin-bottom: 20px;
  }
  
  .control-label {
    font-size: 16px;
    margin-bottom: 2px;
  }
  
  .has-error {
    color: #710000;
    font-size: 14px;
    font-style: italic;
  }
  
  .has-success {
    color: #067100;
    font-size: 14px;
    font-style: italic;
  }
.section {
    border-radius: 5px;
    background-color: #eee;
    padding: 15px;
}

.list-unstyled {
    margin-bottom: 0px;
}

#task-frame {
    background-color: #fff;
    border: solid #aaa 1px;
    border-radius: 8px;
    width: 100%;
}

#add-task-notice {
    color: #ddd;
    font-size: 42px;
    text-align: center;
    margin: 10px;
}

#graph-section {
    margin-left: 20px;
    max-height: 30%;
}

.nowrap {
    white-space: nowrap;
}